/* Задаем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* inter-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/inter-v12-latin-regular.woff2') format('woff2'); 
}

/* inter-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/inter-v12-latin-700.woff2') format('woff2'); 
}

/* forum-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/forum-v16-latin-regular.woff2') format('woff2'); 
}

html {
  scroll-behavior: smooth; 
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #0C0C0E;
}

header {
  background: #0C0C0E;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.header__wrapper {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: Forum;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.nav-icon {
  display: flex;
  align-items: center;
}

.nav-item {
  padding-right: 30px;
}

.nav-item:last-child {
  padding-right: 40px;
}

a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.nav-item a:hover {
  color: #BB945F;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
}

.welcome {
  height: 600px;
  background: url(../assets/img/welcome.png) no-repeat center;
  background-size: cover;
}

.welcome-bg {
  position: absolute;
  top: 310px;
  background: #0C0C0E;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  display: flex;
  height: 300px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%);
}

.welcome-title {
  text-transform: uppercase;
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  padding: 35px 40px;
  text-align: center;
  color: #FFFFFF;
}

.about__title {
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  padding: 20px 0;
}

.about__text {
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 40px;
  color: #000;
}

.line {
  margin: auto;
  width: 50px;
  height: 1px;
}

.about__slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.slider__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 35px 0;
}

.element__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
}

.element__pagination {
  cursor: pointer;
}

.favorites__title {
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  padding: 20px 0;
}

.favorites__text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  padding-top: 40px;
  color: #000;
}

.seasones {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.seasone_radio {
  display: flex;
  padding-right: 90px;
}

.radio_input {
  width: 17px;
  height: 17px;
  margin: 0;
}

.radio_label {
  padding-left: 20px;
  line-height: 24px;
  color: #000;
}

.radio_input:checked+.radio_label {
  font-weight: 700;
}

.favorites-items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 43px;
}

.card-book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #000;
  width: 550px;
  margin-left:  260px;
  position: relative;
}

.card-book:nth-child(odd) {
  margin-left: 0;
}

.book__staff {
  font-family: Forum;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000;
  margin: 0;
  padding-top: 14px;
  position: relative;
}

.book__staff::after {
  content: "";
  position: absolute;
  top: 51px;
  left: 0px;
  width: 60px; 
  border: 1px solid #BB945F;
}

.book__name {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000;
  padding: 18px 0 19px 0px;
}

.book_title {
  text-transform: uppercase;
}

.block_no-button {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 19px;
}

.book__description {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  padding-right: 174px;
  text-transform: capitalize;
}

.book__img {
  width: 200px;
  height: 300px;
  position: absolute;
  bottom: -1px;
  right: -40px;
}

.book__button {
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-align: center;
  margin-left: 19px;
  margin-bottom: 14px;
  background: none;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  transition: color 0.5s;
  width: 75px;
  height: 30px;
}

.book__button:hover {
  background: #BB945F;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.button__colored {
  color: #BB945F;
  border: 1px solid #BB945F;
}

.button__colored:hover {
  cursor: default;
  border: 1px solid #BB945F;
  background: none;
}