/* Задаем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* inter-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/inter-v12-latin-regular.woff2') format('woff2'); 
}

/* inter-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/inter-v12-latin-700.woff2') format('woff2'); 
}

/* forum-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/forum-v16-latin-regular.woff2') format('woff2'); 
}

html {
  scroll-behavior: smooth; 
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #0C0C0E;
}

header {
  background: #0C0C0E;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.header__wrapper {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: Forum;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.nav-icon {
  display: flex;
  align-items: center;
}

.nav-item {
  padding-right: 30px;
}

.nav-item:last-child {
  padding-right: 40px;
}

a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.nav-item a:hover {
  color: #BB945F;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
}

.header__burger {
  display: none;
  width: 45px;
  height: 20px;
  position: relative;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}

.icon__burger {
  display: none;
}

.welcome {
  height: 600px;
  background: url(../assets/img/welcome.png) no-repeat center;
  background-size: cover;
}

.welcome-bg {
  position: absolute;
  top: 310px;
  background: #0C0C0E;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  display: flex;
  height: 300px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%);
}

.welcome-title {
  text-transform: uppercase;
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  padding: 35px 40px;
  text-align: center;
  color: #FFFFFF;
}

.about__title {
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  padding: 20px 0;
}

.about__text {
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 40px;
  color: #000;
}

.line {
  margin: auto;
  width: 50px;
  height: 1px;
  border: none;
  color: #0C0C0E;
  background-color: #0C0C0E;
}

.about__slider_3-columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.about__slider_2-columns,
.about__slider_1-columns {
  display: none;
}

.carret_left,
.carret_right {
  display: none;
  cursor: pointer;
}

.slider__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 35px 0;
}

.element__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
}

.element__pagination {
  cursor: pointer;
}

.element__pagination_unactiv-more {
  display: none
}

.favorites__title {
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  padding: 20px 0;
}

.favorites__text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  padding-top: 40px;
  color: #000;
}

.seasones {
  display: flex;
  align-items: center;
  padding: 35px 0;
  margin-left: -5px;
}

.seasone_radio {
  display: flex;
  padding: 5px 0 5px 5px;
  padding-right: 80px;
  align-items: center;
}

.radio_input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
  cursor: pointer;
}

.radio_label {
  line-height: 24px;
  color: #000;
  cursor: pointer;
  position: relative;
}

.label_text {
  line-height: 24px;
  color: #000;
  cursor: pointer;
  position: relative;
}

.custom_radio {
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
  background: #FFFFFF;
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 20px;
  margin-top: 5px;
  cursor: pointer;
}

.custom_radio::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 7px;
  height: 7px;
  background: #000000;
  border-radius: 50%;
  transition: 0.3s;
}

.radio_input:checked+.custom_radio:before {
  transform: translate(-50%, -50%) scale(1);
  cursor: pointer;
}

.radio_input:checked~.label_text {
  font-weight: 700;
}

.favorites-items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 43px;
  padding-bottom: 40px;
}

.card-book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #000;
  width: 550px;
  margin-left:  260px;
  position: relative;
}

.unvisible {
  display: none;
}

.card-book:nth-child(odd) {
  margin-left: 0;
}

.book__staff {
  font-family: Forum;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000;
  margin: 0;
  padding-top: 14px;
  position: relative;
}

.book__staff::after {
  content: "";
  position: absolute;
  top: 51px;
  left: 0px;
  width: 60px; 
  border: 1px solid #BB945F;
}

.book__name {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000;
  padding: 20px 0 20px 0px;
}

.book_title {
  text-transform: uppercase;
}

.block_no-button {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 19px;
}

.book__description {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  padding-right: 172px;
  text-transform: capitalize;
}

.book__img {
  width: 200px;
  height: 300px;
  position: absolute;
  bottom: -1px;
  right: -40px;
}

.book__button {
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-align: center;
  margin-left: 19px;
  margin-bottom: 13px;
  background: none;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  transition: 0.5s;
  width: 75px;
  height: 30px;
}

.book__button:hover {
  background: #BB945F;
  border: 1px solid #BB945F;
  border-radius: 2px;
  cursor: pointer;
}

.button__colored {
  color: #BB945F;
  border: 1px solid #BB945F;
}

.button__colored:hover {
  cursor: default;
  border: 1px solid #BB945F;
  background: none;
}

.shop__title,
.contacts__title,
.cards__title {
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  padding: 19px 0;
  text-align: center;
  text-transform: capitalize;
}

.shop__text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  padding: 40px 0;
}

.shop__menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.menu_drinks,
.menu_desserts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu_drinks_title {
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #BB945F;
}

.menu_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.line_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.name_item {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #000;
}

.price_item {
  font-family: Forum;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.line_item {
  width: 100px;
  height: 1px;
  color: #BB945F;
  background-color: #BB945F;
  border: none;
}

.menu_desserts_title {
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #BB945F;
  text-align: right;
}

.menu_item2 {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 60px;
}

.line_price2 {
  display: flex;
  align-items: center;
  gap: 60px;
}

.contacts-info {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.info_title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #000;
}

.phone,
.info_text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000;
  text-transform: capitalize;
}

.mail {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000;
}

.info_phone {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
}

.info_item {
  display: flex;
}

.info_block2 {
  display: flex;
  padding-top: 20px;
}

iframe {
  width: 696px;
}

.digital_cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 37px;
}

.find_card-title {
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 40px 0 30px 0;
}

.find_card-body {
  display: flex;
  flex-direction: column;
  border: 3px solid #BB945F;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 600px;
}

.find_card-bg {
  background: #BB945F;
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 19px 19px 25px 19px;
}

.card-bg_title {
  font-family: Forum;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-bottom: 20px;
}

.card-bg_input {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.card-bg_input-text,
.card-bg_input-number {
  font-family: Forum;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #8E8E8E;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  padding: 8px 0 8px 20px;
}

.card-bg_input-text:focus,
.card-bg_input-number:focus {
  border-color: #BB945F;
  outline: none;
}

.check-card_button {
  margin: auto;
  padding-bottom: 30px;
}

.check-card_button-text {
  border: 1px solid #0C0C0E;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  color: #0C0C0E;
  background: #FFFFFF;
  transition: 0.5s;
  padding: 10px 40px;
}

.get_card {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: end;
  width: 456px;
  padding-top: 40px;
}

.get_card-title {
  font-family: Forum;
  font-size: 30px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.02em;
  text-align: center;
}

.get_card-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: right;
}

.get_card-buttons {
  display: flex;
  gap: 20px;
}

.register {
  border: 1px solid #0C0C0E;
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-align: center;
  color: #0C0C0E;
  background: #FFFFFF;
  transition: 0.5s;
  width: 75px;
  height: 30px;
}

.register:hover,
.check-card_button-text:hover {
  background: #BB945F;
  border: 1px solid #BB945F;
  border-radius: 2px;
  cursor: pointer;
}

.footer {
  background: #0C0C0E;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0 30px 0;
}

.footer_frame1 {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.footer__shedule {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #FFFFFF;
  text-align: right;
}

.footer_frame2 {
  display: flex;
  justify-content: space-between;
}

.footer_social {
  display: flex;
  justify-content: space-between;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.twitter {
  background-image: url(../assets/img/twitter.svg);
  width: 24px;
  height: 24px;
}

.instagram {
  background-image: url(../assets/img/instagram.svg);
  width: 24px;
  height: 24px;
}

.fb {
  background-image: url(../assets/img/facebook-f.svg);
  width: 24px;
  height: 24px;
}

.footer__line {
  background: #FFFFFF;
  width: 100%;
  height: 1px;
  border: none;
  margin: 0;
}

.footer_link-rss {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 44px 0;
  position: relative;
}

.year {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.footer_link-rs-school {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.footer_link-github {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.footer_left {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
}

.footer_right {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

@media (max-width: 1400px) {

  .wrapper {
    max-width: 1380px;
    padding: 0 20px;
  }

  .about__slider_3-columns,
  .about__slider_1-columns {
    display: none;
  }

  .about__slider_2-columns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 25px;
  }

  .favorites-items {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

  .card-book {
    margin-left: 0;
    height: 555px;
  }

}

@media (max-width: 1024px) {
  
  .header__burger {
    display: block;
    margin-left: 40px;
  }

  .about__slider_3-columns,
  .about__slider_2-columns {
    display: none;
  }

  .about__slider_1-columns {
    display: flex;
    gap: 58px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .carret_left,
  .carret_right {
    display: block;
    padding-top: 40px;
  }

  .element__pagination_unactiv-more {
    display: inline;
  }

  .nav {
    width: 332px;
    height: 570px;
    background: #0C0C0E;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    cursor: pointer;
    padding: 100px 107px;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out 0s;
  }

  .nav_active {
    transform: translateX(0);
  }

  .nav-list {
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
  }

  .nav-item {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .nav-item:last-child {
    padding: 0;
  }

  .nav__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 29px;
    right: 20px;
    z-index: 11;
  }

  .nav__line_close {
    display: block;
    height: 2px;
    width: 100%;
    background: #FFFFFF;
    position: absolute;
    top: 50%;
  }

  .nav__line_close:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .nav__line_close:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  .icon__burger {
    display: block;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 31px;
    right: 105px;
  }

  .label_text {
    font-family: Inter;
    font-size: 20px;
    line-height: 24px;
  }

  .contacts-info {
    flex-direction: column;
    gap: 100px;
    align-items: center;
  }

  .shop__menu {
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }

  .menu_drinks {
    width: 438px;
  }

  .digital_cards {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .get_card {
    align-items: center;
    padding-top: 0;
    width: 600px;
    gap: 40px;
  }

  .get_card-text {
    text-align: center;
  }

}

@media (max-width: 768px) {
  .seasone_radio:last-child {
    padding-right: 0;
  }

  .favorites-items {
    align-items: start;
    margin-left: 69px;
  }
  iframe {
    width: 696px;
  }

  .name_item {
    letter-spacing: 1.8px;
  }

  .contacts-info {
    align-items: start;
  }

  .contacts_map {
    width: 100%;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .seasone_radio {
    padding-right: 40px;
  }

  .favorites-items {
    align-items: center;
    margin-left: 0;
  }

  iframe {
    width: 600px;
  }

  .footer_link-github,
  .footer_link-rs-school,
  .year {
    font-size: 14px;
  }
}